body {
  background-color: antiquewhite;
}

header {
  text-align: center;
}

h1 {
  font-family: "Caprasimo", cursive;
}

#header-paragragh {
  font-family: "Love Light", cursive;
  font-size: 28px;
}

#btn-male {
  background-color: blue;
  width: 10em;
}

#btn-female {
  background-color: magenta;
  width: 10em;
}

#profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
